.personal-details {
    color: white;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px;
}

.personal-details .name {
    margin-bottom: 40px;
}

.physical-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 18px;
}

.break {
    margin-top: 20px;
    color: white;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px;
}

.break-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

.break-info button {
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
}
.break-info button:hover{
    background-color: black;
    border: none;
}
.exercise-info {
    margin-top: 20px;
    color: white;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px;
}
.exercise-info h4 {
    margin-bottom: 40px;
}

.activity {
    margin-top: 40px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;

}

.activity:hover {
    background-color: black;
    color: white;
}